.stableButton {
    position: fixed;
    width: 5% !important;
    height: 7% !important;
    top: 0;
    left: 100%;
    background-color: #FF69B4;
    z-index: 99999;
    border-bottom-left-radius: 20px;
}

.stableButton-open {
    left: 95%;
    transition: 0.5s ease-in;
}

.stableButton:hover {
    background-color: #00AFFF;
    transition: 0.5s ease-in-out;
}

.stableButton p {
    text-align: center;
    padding: 25% 0 0 0;
    margin: 0;
    color: #E9E9E9 !important;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .stableButton {
        top: 95% !important;
        left: 0% !important;
    }

    .stableButton-open {
        left: 5% !important;
    }
}