.creditsButton {
    position: fixed;
    width: 8% !important;
    height: 8% !important;
    top: -2.5%;
    left: 97.5%;
    background-color: #00AFFF;
    z-index: 99999;
    border-radius: 40%;
    color: #E9E9E9;
}

.creditsButton-open {
    left: 95%;
    transition: 0.5s ease-in;
}

.creditsButton:hover {
    background-color: #FF69B4;
    transition: 0.5s ease-in-out;
    color:black !important;
}

.creditsButton p {
    text-align: center;
    padding: 27% 30% 0 0;
    margin: 0;    
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width:768px) {
    .creditsButton {
        width: 30% !important;
        top: 80% !important;
        left: 10% !important;
        border-radius: 20px !important;
    }

    .creditsButton-open {
        left: 10% !important;
    }

    .creditsButton p {
        padding: 15% 1% 0 0 !important;
    }
}