.creditsAnchor {
    position: fixed;
    top: 1%;
    right:-100px;
    width: 100px;
    height:40px;
}
.creditsButton{ 
    position:relative;
    display:flex;
    width:100%;
    height:100%;
    background-color: #00AFFF;
    z-index: 99999;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px;
    color: #E9E9E9;
    margin:auto;
}

.creditsAnchor-open {
    transition: 0.5s ease-in;
    right:0;
}

.creditsButton:hover {
    background-color: #FF69B4;
    transition: 0.5s ease-in-out;
    color:black;
}

.creditsButton p {
    text-align: center;
    align-self:center;
    margin: auto;    
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width:968px) {

    .creditsAnchor {
        top: 70% !important;
        left: 50% !important;
        margin:auto !important;
        margin-left:-20% !important;
        width:40% !important;
        height:6% !important;
    }

    .creditsButton{
        border-radius:20px;
    }
}