.homeNav {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin: 0;
    border: 0;
}

.homeNav-container {
    padding: 0 2%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    text-align: center;
}

.homeNav-container a {
    float: left;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.homeNav-container a:hover {
    color: #4eb5f1;
}

.homeNav-container a:nth-child(1) {
    margin: 0;
}

.homeNav-container a:nth-child(2n+2) {
    margin: 0 3% 0 3%;
}

.homeNav-container a:nth-child(5) {
    margin: 0;
}

.homeNav--mobile {
    display: none;
}

/* Mobile */
@media only screen and (max-width:768px)
{
    /* Hide Desktop Nav */
    .homeNav {
        display: none;
    }

    .homeNav--mobile {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(146, 145, 145, 0.4);
    }

    .homeNav-container--mobile {
        margin:auto;
        display:table;
        vertical-align: middle;
        align-items:center;
        justify-content:center;
        width:25%;
        height:30%;
    }

    .homeNav-container--mobile ul{
        margin: auto;
        display: table-cell;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        width:100%;
    }

    .homeNav-container--mobile li {
        display: block;
        text-align: center;
    }
}