.newNav{    
    position:fixed;   
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto; 
    top:90%;    
    width:100%;
}

.newNav ul{
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;  
    display:flex;
    width:100%;
    text-align:center;
}

.newNav ul li{
    float:left;    
}

.newNav ul li:nth-child(1){
    margin: 0;    
}

.newNav ul li:nth-child(2n+2)
{
    margin:0 3% 0 3%;
}

.newNav ul li:nth-child(5)
{
    margin:0;
}