.educationBody {
	background-image: none !important;

	.mainLayer {
		width: 100%;
		height: 100%;
		padding: 0 0 0 0;
		overflow: hidden;

		.educationTable {
			position: relative;
			width: 80%;
			display: flex;
			flex-direction: column;
			height: 80%;
			align-self: center;
			align-items: center;
			align-content: center;
			vertical-align: middle;
			margin: auto;

			&-item {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				margin:auto 0;
				width: 100%;
				height: auto;

				&-image {
					width: 50%;
					height: 100%;
					margin: auto;
					margin-left: 10%;
					margin-right: 0;
					display: flex;
					flex-direction: column;

					&-anchor {
						width: 30%;
						height: auto;
						margin: auto 0;
						display: flex;
						flex-direction: column;

						img {
							width: 100%;
							height: auto;
							max-height:250px;
							margin: auto 0;
						}
					}
				}

				&-text {
					text-align: left;
					width: 40%;
					height: auto;
					margin: auto;
					align-self: center;
					align-items: center;
					align-content: center;
					vertical-align: middle;

					h1 {
						color: grey;
						margin: 0;
					}

					h2 {
						color: #228B22;
						margin: 0;
					}

					h1, h2 {
						text-align: center;
						margin: 5px 0 !important;
						font-size: 20px;
					}

					ul {
						margin: 1% 0;
					}

					li {
						line-height: 20px;
						font-size: 14px;
					}
				}
			}
		}
	}
}

/* Mobile - Portrait */
@media screen and (max-width: 500px) and (orientation:portrait) {
	.educationBody {
		.mainLayer {
			height: auto;

			.educationTable {
				margin-top: 0;
				height: auto;

				&-item {
					position: relative;
					flex-direction: column !important;
					width: 90% !important;
					height: auto !important;

					&-image {
						position: relative !important;
						width: 100% !important;
						height: auto;
						margin: 5% auto;
						text-align: center;

						img {
							width: 80% !important;
							margin: auto;
						}
					}

					&-text {
						text-align: center !important;
						width: 100% !important;
						height: auto;

						ul {
							padding: 0 !important;
						}

						li {
							margin-top: 5%;
							padding-left: 0 !important;
							list-style: none !important;
						}
					}
				}
			}
		}
	}
}