/* Second Layer */
.experienceBody #mainLayer {
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
}
ul{
	line-height: 7px;
}
li{
	line-height: 20px;
	font-size:14px;
}

.experienceTable{
	position:relative;
	display:flex;
	flex-direction:column;
}

.experienceItem{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:80%;
	height:30%;
	margin:auto;
}

.experienceImage{
	width: 60%;
	height:100%;
	margin:auto;
}

.experienceImageAnchor {
	width: 100%;
	height: 100%;
}

.experienceImage img{
	width:50%;
	height:auto;
}

.experienceText{
	text-align:left;
	width: 30%;
	height:100%;
}

.experienceText h1 {
	text-align: center;
	color: grey;
	margin:10px 0 !important;
}

.experienceText h2 {
	text-align: center;
	color: #228B22;
	margin: 10px 0 !important;
}

	/* Mobile - Portrait */
	@media screen and (max-width: 900px) and (orientation:portrait) {
		#layerHeader {
		margin: 40px 0 0 0 !important;
	}

	.experienceItem {
		flex-direction: column !important;
		width: 90% !important;
		height: 40% !important;
		padding-bottom:10%;
	}

	.experienceImage {
		width: 80% !important;
	}

	.experienceImage img {
		width: 100% !important;
	}

	.experienceText {
		padding-top:10%;
		text-align: center !important;
		width: 100% !important;
	}

	ul{
		padding:0 !important;
	}

	li{
		padding-top:5%;
		padding-left:0 !important;
		list-style:none !important;
	}
}