.experienceBody {
	background-image: none !important;

	.mainLayer {
		width: 100%;
		height: 100%;
		padding: 0;

		.experienceTable {
			position: relative;
			display: flex;
			flex-direction: column;

			&-item {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				width: 80%;
				height: 30%;
				margin: auto;

				&-image {
					width: 45%;
					height: 100%;
					margin: auto;

					img {
						width: 50%;
						height: auto;
					}

					&-anchor {
						width: 100%;
						height: 100%;
					}
				}

				&-text {
					text-align: left;
					width: 50%;
					height: 100%;

					h1 {
						text-align: center;
						color: grey;
						margin: 5px 0 !important;
						font-size: 20px;
					}

					h2 {
						font-size: 20px;
						text-align: center;
						color: #228B22;
						margin: 5px 0 !important;
					}

					ul{
						margin:1% 0;
					}

					li {
						line-height: 20px;
						font-size: 14px;
					}
				}
			}
		}
	}
}

/* Mobile - Portrait */
@media screen and (max-width: 500px) and (orientation:portrait) {
	.experienceBody {
		.mainLayer {
			height: auto;

			&-header {
				font-size: 32px;
			}

			.experienceTable {
				&-item {
					flex-direction: column !important;
					width: 90% !important;
					height: auto !important;

					&-image {
						width: 80% !important;
						margin: 5% auto;
						height:auto;

						img {
							width: 100% !important;
						}
					}

					&-text {
						text-align: center !important;
						width: 100% !important;
						height: auto;
						margin: auto;

						ul {
							padding: 0 !important;
						}

						li {
							padding-left: 0 !important;
							list-style: none !important;
						}
					}
				}
			}
		}
	}
}