.homeBody {
	font-family: 'Quicksand', sans-serif;
	font-size: 100%;
	color: #000000;
	background-image: url('../images/backgrounds/meLake.jpg');
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

img#firstLayerPic
{
	object-fit:cover;
	min-width:100%;
	height:100%;
}
.objectContainer {
	position: fixed;
	left: 15%;
	top: 30%;
	width: 500px;
	height: 320px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 5%;
	background-color: rgba(146, 145, 145, 0.4);
	text-align: center;
}

.objectContainer a {
	color: white;
	text-decoration-line: none;
}

.line1 {
	text-align: center;
	margin: auto;
	font-size: 30px;
	font-style: italic;
	color: white;
	position: relative;
	padding: 0 0 0 0;
}

.line2 {
	text-align: center;
	margin: auto;
	font-size: 60px;
	color: white;
	position: relative;
	padding: 0 0 0 0;
}

.line3 {
	position: relative;
	text-align: center;
	font-size: 25px;
	color:white;
}

.line3 a{
	font-weight:bold;
}

.line3:hover a {
	color: #808080;
}

.socialRow {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content:center;
	margin: auto;
	text-decoration: none;
	padding:20px 0;
}

.socialRow a {
	width: 40px;
	height: 40px;
}

.socialRow img:hover {
	border-radius:20px;
	background-color:white;
}

.socialRow img {
	width: 40px;
	height: 40px;
}


.homeCVContainer {
	padding: 20px 0 !important;
	width: 180px;
	height: auto;
	text-align:center;
	margin:auto;
}

.homeCVButton {
	position:relative;
	background-color: #4eb5f1;
	display: block;
	padding: 0.3em 1.2em;
	margin: 0 0.1em 0.1em 0;
	border: 0.16em solid rgba(255,255,255,0);
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Quicksand',sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	transition: all 0.2s;
	z-index: 5;
	justify-content: center;
}

.homeCVButton:hover {
	background-color: #4095c6;
}

	/* iPhone 6/7/8 - Portrait */
	@media screen and (max-width: 900px) and (orientation:portrait) {
		body {
			background-image: url('../images/backgrounds/meLakeMobile.jpg') !important;
			background-size: cover;
			font-size: 0.8em;
		}

		.objectContainer {
			display: flex;
			flex-direction: column;
			width: 300px;
			height: 220px;
			overflow: hidden;
			position: absolute !important;
			left: 50% !important;
			top: 50% !important;
			margin-left: -150px;
			margin-top: -110px;
			justify-content: center;
			align-items: center;
			align-self: center;
			text-align: center;
			align-content: center;
		}

		.line1 {
			font-size: 20px;
		}

		.line2 {
			font-size: 30px;
		}

		.line3 {
			font-size: 18px;
			padding: 10px 0;
		}

			.line3 a {
				font-weight: bold;
			}

		.socialRow {
			padding: 10px 0;
		}

		.CVContainer {
			padding: 10px 0 !important;
		}
	}