.photographyBody {
	background-image: none !important;

	.mainLayer {
		width: 100%;
		position: relative;
		height: auto\9;
		margin: 0 0 0 0;
		padding: 0 0 0 0;

		.photographyTable {
			display: flex;
			flex-direction: row;
			padding-top: 1%;
			width: 80%;
			height: 80%;
			margin: auto;

			.leftArrow {
				cursor: pointer;
				display: block;
				position: absolute;
				top: 50%;
				left: 5%;
				width: 30px;
				height: 30px;
				border: solid black;
				border-width: 0 3px 3px 0;
				padding: 3px;
				transform: rotate(135deg);
				-webkit-transform: rotate(135deg);
			}

			.rightArrow {
				cursor: pointer;
				display: block;
				position: absolute;
				top: 50%;
				right: 5%;
				width: 30px;
				height: 30px;
				border: solid black;
				border-width: 0 3px 3px 0;
				padding: 3px;
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
			}

			a {
				position: relative;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				width: 100%;
				height: 100%;
				overflow: hidden;
				opacity: 1;
				transition: opacity 0.5s linear;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				overflow: hidden;
				/* Blur images in and out */
				opacity: .7;
				-webkit-webkit-transition: opacity 0.7s ease;
				-moz-webkit-transition: opacity 0.7s ease;
				-ms-webkit-transition: opacity 0.7s ease;
				-o-webkit-transition: opacity 0.7s ease;
				-webkit-filter: blur(0.4px);
				-webkit-backface-visibility: hidden;
				-webkit-transform: translate3d(0,0,0);
				transition: all 0.7s linear;
				transform: scale(1.0);

				&:hover {
					opacity: 1 !important;
					-webkit-webkit-transition: opacity 0.7s ease-out;
					-moz-webkit-transition: opacity 0.7s ease-out;
					-ms-webkit-transition: opacity 0.7s ease-out;
					-o-webkit-transition: opacity 0.7s ease-out;
					-webkit-filter: blur(0.1px);
					-webkit-backface-visibility: hidden;
					-webkit-transform: translate3d(0,0,0);
					transition: all 0.7s linear;
					transform: scale(1.1);
				}
			}

			.imgHidden {
				display: none !important;
			}

			.imgShow {
				display: flex !important;
			}

			.imgFadeOut {
				opacity: 0 !important;
				transition: opacity 0.5s linear;
			}

			.imgFadeIn {
				opacity: 1 !important;
				transition: opacity 0.5s linear;
			}

			.imgContainer {
				width: 20%;
				height: 33.33333%;
				object-fit: cover;
				overflow: hidden;
			}
		}
	}
}

/* Mobile - Portrait */
@media screen and (max-width: 500px) and (orientation:portrait) {
	.photographyBody {
		.mainLayer {
			.photographyTable {
				margin-top: 5%;

				img {
					width: 100%;
					height: 100%;
				}

				.leftArrow {
					left: 3%;
					width: 20px;
					height: 20px;
				}

				.rightArrow {
					right: 4%;
					width: 20px;
					height: 20px;
				}

				.imgContainer {
					padding-bottom: 5%;
					width: 100%;
					height: 50%;
					object-fit: cover;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					overflow: hidden;
					opacity: 1;
					-webkit-filter: blur(0px);
					-webkit-backface-visibility: visible;
				}
			}
		}
	}
}