.portfolioBody {
	background-image: none !important;
}

/* Portfolio Grid */
#portfolioSelector{
	text-align:center;
	font-size: 25px;
	color:grey;
}

#inProgressSelectorButton {
	font-weight: normal;
}

#completeSelectorButton{
	font-weight: bold;
}

#gamesSelectorButton {
	font-weight: normal;
}

/* Second Layer */
.portfolioBody #mainLayer {
	width: 100%;
	max-width: 100%;
	height: 100%;
	position: absolute;
	margin: auto;
	padding: 0 0 0 0;
}

.portfolioBody #mainLayer h2 {
	color: #228B22;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#portfolioItem p{
	width:100%;
	height:50px;
	margin:0;
	padding:0;
	border:0;
	font-weight:bold;
	text-align: center;
}
#portfolioImage{
	width:370px;
	height:250px;
	margin:0;
	padding:0;
	border:0;
}

#completePortfolio {
	display: flex;
	margin: auto;
	max-width:70%;
	flex-wrap:wrap;
}

#inProgressPortfolio {
	display: none;
	margin: auto;
	max-width: 70%;
	flex-wrap: wrap;
}

#gamesPortfolio {
	display: none;
	margin: auto;
	max-width: 70%;
	flex-wrap: wrap;
}

#portfolioItem {
	flex-direction: row;
	margin:auto;
	margin-top:2%;
}

#completePortfolio a {
	text-decoration: none;
}

#inProgressPortfolio a {
	text-decoration: none !important;
}

#gamesPortfolio a {
	text-decoration: none !important;
}

/* iPhone 6/7/8 - Portrait */
@media screen and (max-width: 900px) and (orientation:portrait) {

	#completePortfolio {
		max-width: 90% !important;
		margin-bottom:5%;
	}

	#inProgressPortfolio {
		max-width: 90% !important;
		margin-bottom: 5%;
	}

	#gamesPortfolio {
		max-width: 90% !important;
		margin-bottom: 5%;
	}

	#portfolioItem{
		width:100%;
		height:40%;
		margin-top:8%;
	}

	#portfolioImage {
		width: 100%;
		height: 250px;
	}

	.portfolioBody #layerHeader {
		text-align:center;
	}

	.portfolioBody #mainLayer h2 {
		text-align: center;
		margin-top: 1em;
	}
}