.homeNav {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    margin: 0;
    border: 0;
}

.homeNav-container {
    padding: 0 2%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    text-align: center;
}

.homeNav-container a {
    float: left;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.homeNav-container a:hover {
    color: #4eb5f1;
}

.homeNav-container a:nth-child(1) {
    margin: 0;
}

.homeNav-container a:nth-child(2n+2) {
    margin: 0 3% 0 3%;
}

.homeNav-container a:nth-child(5) {
    margin: 0;
}