@media screen and (min-width: 501px) {
    .mobileNav {
        display: none !important;
    }

    /* Burger Menu Icon */
    .mobileBurgerMenu {
        display: none !important;
    }
}
/* Mobile - Portrait */
@media screen and (max-width: 500px) and (orientation:portrait) {
    /* Hide Desktop Nav */
    .homeNav, .footerNav {
        display: none !important;
    }

    .mobileNav {
        position: fixed !important;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgb(128, 128, 128);
        display: table;
        z-index: 100;

        a {
            color: white;
            text-decoration: none;
        }

        &-container {
            margin: auto;
            display: table-cell;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            width: 25%;
            padding: 0;
            list-style-type: none !important;

            li {
                font-size: 32px;
                display: block !important;
                text-align: center !important;
                line-height: 2em !important;

                &:active {
                    color: blue;
                }
            }
        }
    }    

    /* Burger Menu Icon */
    .mobileBurgerMenu {
        display: block !important;
        position: fixed;
        margin-left: 10px;
        margin-top: 10px;
        z-index: 98;

        :hover {
            opacity: 0.5;
        }
    }

    /* Close Icon */
    .close {
        display: none;
        position: fixed;
        right: 10%;
        top: 2%;
        opacity: 1.0;
        z-index: 101;

        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: white;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}